[*.cs]

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# IDE0042: Deconstruct variable declaration
dotnet_diagnostic.IDE0042.severity = none

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = never
